<section class="specialties">
  <header>
    <h2>Specialties</h2>
  </header>

  <div class="row">
    <div class="col-sm-4">
      <h3>Front end work</h3>

      <ul>
        <li>HTML</li>
        <li>CSS / Sass</li>
        <li>Javascript</li>
        <li>Backbone.js</li>
        <li>Bootstrap</li>
      </ul>
    </div>

    <div class="col-sm-4">
      <h3>Back end work</h3>

      <ul>
        <li>Ruby on Rails</li>
        <li>RSpec</li>
        <li>Git</li>
        <li>Javascript Testing (Mocha/Chai/Sinon)</li>
      </ul>
    </div>

    <div class="col-sm-4">
      <h3>Methodologies</h3>

      <ul>
        <li>Test Driven Development</li>
        <li>Agile</li>
        <li>Pair Programming</li>
      </ul>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-heading">
          <h4>Have design comps you need HTML-ified?</h4>
        </div>

        <div class="panel-body">
          Let me help you get those designs transformed into semantic, clean, HTML5
          and Sass. I'll even make sure they work in whatever browsers your customers
          use (within reason... I'm looking at you old Internet Explorer versions).
        </div>
      </div>

      <div class="panel">
        <div class="panel-heading">
          <h4>Have new features you need built?</h4>
        </div>

        <div class="panel-body">
          Of course you do, everyone does! I'll start by building you an
          <abbr title="Minimum Viable Product">MVP</abbr> you can use to get a better
          idea of your needs and then we'll work together to really nail the final
          version.
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-heading">
          <h4>Have a Rails app that's difficult to change?</h4>
        </div>

        <div class="panel-body">
          Everyone's codebase needs a little love but some codebases need more
          love than others. I'll help you model your domain with small, tested,
          objects that encapsulate easily-understood responsibilities.
        </div>
      </div>

      <div class="panel">
        <div class="panel-heading">
          <h4>Have legacy code you need to get under test?</h4>
        </div>

        <div class="panel-body">
          I know how difficult it can be to make changes to your codebase when you
          don't know if the next change is going to be the one that breaks
          everything. I'll dig into your code, wrap untested areas in clear,
          easy-to-read tests that will give you the confidence to make changes in
          the future.
        </div>
      </div>
    </div>
  </div>
</section>
