<html>
  <head>
    <title>Jason J. Tennier, Super Genius</title>
    <link rel="stylesheet" href="assets/application.css"/>
  </head>

  <body>
    <div class="container">
      <h1>Jason J. Tennier, Super Genius</h1>

      <%= yield %>
    </div>
  </body>
</html>
